body{
    display: flex;
    flex-direction: column;

}
#reset{
    display: flex;
    max-width: fit-content;
}

.container{
    display: flex;
    /* 
    Account for square width by multiplying boxes by 29 
    */
    max-width: calc(14px * 29);
    flex-wrap: wrap;
}

.box{
    border: 2px solid black;
    width: 25px;
}

.box:hover{
    background-color: aqua;
}