body{
    display: flex;
    flex-direction: column;

}
#reset{
    display: flex;
    max-width: fit-content;
}

.container{
    display: flex;
    max-width: 464px;
    flex-wrap: wrap;
}

.box{
    border: 2px solid black;
    width: 25px;
}

.box:hover{
    background-color: aqua;
}